<!DOCTYPE html>
<html>
  <head>
    <title>AppName</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
  <!-- menu --><%= render "layouts/header" %><!-- /menu -->
  
  <!-- main --><!-- /main -->    
    
  <body>
    <%= yield %>
  </body>
  
  <!-- footer --><%= render "layouts/footer" %><!-- /footer -->

</html>
